body{
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h1{
    font-size: 30px;
    margin-bottom: 5px
}
h2{
    font-size: 25px;
    margin-bottom: 5px;
}
h3{
    font-size: 20px;
}
p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
}
img{
    width: 100px;
    padding-top: 10px
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

#shop-info{
    display: flex;
    flex-direction: column;
    align-items:center;
}
#totals{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 75px;
    height: 100vh;
}
footer{
   
        position: fixed;
        bottom:0;
        left: 0;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        width:100%;
        height: 50px;
        background-color: blueviolet;
    
}


#place-new-order{
    background-color: blueviolet;
    color:whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    width: 300px;
    width: 180px;
    height: 30px;
    border: none;
}

 
#smiley-left{
    margin-top: 14px;
    margin-left: 1em;

}
#smiley-right{
    margin-top: 14px;
    margin-left: 0;
}

.material-icons {
    border-radius: 50%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    margin-left:0.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:whitesmoke;
    background-color:blueviolet;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@media screen and (min-width: 769px) {

    body{
        margin: 0 auto;
        width: 75%;
        background-color: white;
    }
    header{
        background-color: whitesmoke;
    }
    main{
        background-color: whitesmoke;
       
    }

    footer{
    position: relative;
    
    }

}
