body{
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h1{
    font-size: 25px;
    margin-bottom: 5px
}
h2{
    font-size: 22px;
    margin-bottom: 5px;
}
h3{
    font-size: 20px;
}
p{
    margin-top: 5px;
    margin-bottom: 0px;
}
img{
    width: 100px;
    padding-top: 5px
}
label{
    font-size: 15px
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

#shop-info{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#back-to-main{
    text-decoration: none;
    position:fixed;
    top:0;
    right:0;
    margin: 0.5em;
    
}


main{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 75px;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

input{
    border: none;
    height: 50px;
    font-family: 'Merriweather', serif;
}

/* hide up down arrows on cash number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.payment-type{
    height: 10px;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
    width:100%;
    height: 50px;
    background-color: blueviolet;
}

#pay-now-button{
    background-color: blueviolet;
    color:whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
}

.material-icons {
    border-radius: 50%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    margin-left:0.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:whitesmoke;
    background-color:blueviolet;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  @media screen and (min-width: 769px) {
      
    body{
     
        margin: 0 auto;
        width: 75%;
        background-color: white;
    }
    header{
        background-color: whitesmoke;
    }
    main{
        background-color: whitesmoke;
        
    }

    footer{
    position: relative;
    
    }

    #back-to-main {
        right: 10%;
    }

  
}

