body{
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    color: black;
    display: flex;
    flex-direction: column;
}

img{
    width: 100px;
}

#page-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#shop-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

main{
    display: flex;
    flex-direction: column;

}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

input{
    border: none;
    height: 50px;
    font-family: 'Merriweather', serif;
}

/* hide up down arrows on cash number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.payment-type{
    height: 10px;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
    width:100%;
    height: 50px;
    background-color: blueviolet;
}

#pay-now-button{
    background-color: blueviolet;
    color:whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
}

.material-icons {
    border-radius: 50%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    margin-left:0.3em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:whitesmoke;
    background-color:blueviolet;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

