body {
    margin:0;
    color: black;
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    height:100vh;
}

button {
    background-color: blueviolet;
    color: whitesmoke;
}

main {
    display: flex;
    justify-content: space-between;
    /* padding-right:1em;
    padding-left:1em; */

}

main > section, main > aside {
    width:100%;
}

main > section > h2, main > aside > h2 {
    margin-block-end: 0;
}

ul {
    display:flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > p {
    margin-block-end:0;
    margin-block-start:0;
}


ul {
    margin:0;
    padding-left:0;
}

#products > li {
    margin:0;
    height:40px;
    display:flex;
    align-items: end;
    border-bottom: 0.2em solid blueviolet;
}

#cartList > li {
    margin:0;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 0.2em solid blueviolet;
}

nav > ul {
    display:flex;
    flex-direction: row;
    margin-top:1em;
}

nav > ul > li {
    margin-left: 0.3em;
    margin-right:0.3em;
    background-color: blueviolet;
    color:whitesmoke;
    padding:0.3em;
    border-radius: 5px;
}

ul  {
    list-style-type: none;
    
}

footer {
    position: fixed;
    bottom:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left:1em; */
    width:100%;
    height: 40px;
    background-color: blueviolet;
}

/* body > aside {
    position:fixed;
    height:60%;
    width:100%;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    border: 2px solid black;
    z-index: 10;
} */

#cartAside {

    display:none;
}

.flex {
    display:flex;
    flex-direction: row;
}


.material-icons {
    border-radius: 50%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    margin-left:0.3em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:whitesmoke;
    background-color:blueviolet;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .itemsQty {
    color: blueviolet;

    margin-left: 0.4em;
    font-size: 1em;
  }

footer > a {
    /* display:none; */
}

footer > button {
    display:none;
    border-radius: 0.5em;
}

#totalCart {
    display:none;
}
  
header > a {
    position:fixed;
    top:0;
    right:0;
    margin: 0.5em;
    display:none;
}

header > img {
    width:100px;
}

@media screen and (min-width: 769px) {
    body{
        padding-left: 15%;
        padding-right: 15%;
        width: 75%;
        background-color: white;
    }
    h1 {
    margin-block-end: 0;
    }

    header{
        background-color: whitesmoke;
    }
    main{
        background-color: whitesmoke;
    }

    footer{
    position: relative;
    margin-top:1em;

    
    }

    header > a {
        position:fixed;
        right:10%;
        display:none;
    }
}